@import '../../mixin/mini';

.brands {
  margin-top: 1rem;

  &__title {
    @include flex-all-center;
    font-size: 30px;
    margin-bottom: 1rem;
  }

  &__list {
    @include flex-all-sb;
  }

  &__item {
    transform: scale(1);
    transition: 0.5s ease-in-out;
  }

  &__item:hover {
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
  }
}