@import "../mixin/mini";

.personal-container {
  width: 100%;
  background-color: #f9f9fb;
}

.personal {
  @include flex;
  flex-flow: column nowrap;
  padding-bottom: 2rem;
  padding-top: 1rem;

  &__title {
    font-size: 45px;
    margin-bottom: 1rem;
  }

  &__component {
    @include flex;
    flex-flow: row nowrap;
  }

  &__left {
    width: 1000px;
  }

  &__right {
    @include flex;
    justify-content: flex-end;
  }
}