@import '../../mixin/mini';

.header {
  width: 100%;

  &-container {
    @include flex-all-sb;
    width: 1450px;
    align-items: center;
    padding: 0 30px;
    margin: 0.5rem auto;
  }

  &-top {
    @include flex-all-sb;
    border-bottom: 1px solid var(--borderColor);
  }

  &-bottom {
    margin-top: 1rem;
    @include flex-all-sb;

    &__logo {
      &-image {
        width: 240px;
        height: 80px;
      }
    }

    &__cart {
      @include flex-v-center;
      &-link {
        @include flex-v-center;
        justify-content: center;
        flex-direction: column;
      }
    }

    &__auth {
      @include flex-v-center;
      &-link {
        @include flex-v-center;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}

.nav-header-top {
  &__list {
    @include flex-all-sb
  }

  &__item {
    position: relative;
  }

  &__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    height: 2px;
    width: 0;
    background: var(--accientColor);
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
  }

  &__link:hover::after {
    width: 100%;
    left: 0;
  }

  &__item:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.socials-header-top {
  @include flex-all-sb;

  &__item:not(:last-child) {
    margin-right: 1.5rem;
  }
}