@import '../../mixin/mini';

.image-list {
  @include flex-all-center;
  flex-flow: column nowrap;

  &--main {
    @include flex-all-center;
  }

  &--main img {
    height: 250px;
  }

  &--secondary {
    @include flex-all-center;
  }

  &--secondary img {
    height: 50px;
    margin: 5px;
    cursor: pointer;
  }
}