.about {

  &__first {
    &--title {
      margin: 1rem 0;
    }

    & p {
      text-align: justify;
      text-indent: 10px;
      font-size: 16px;
    }
  }

  &__second {

    &--title {
      margin: 1rem 0;
    }

    & p {
      text-align: justify;
      text-indent: 10px;
      font-size: 16px;
    }
  }

  &__third {

    &--title {
      margin: 1rem 0;
    }

    & p {
      text-align: justify;
      text-indent: 10px;
      font-size: 16px;
    }
  }

  &__fourth {

    &--title {
      margin: 1rem 0;
    }

    & p {
      text-align: justify;
      text-indent: 10px;
      font-size: 16px;
    }
  }

  &__fifth {

    &--title {
      margin: 1rem 0;
    }

    & p {
      text-align: justify;
      text-indent: 10px;
      font-size: 16px;
    }
  }

  &__sixth {
    margin-bottom: 4rem;

    &--title {
      margin: 1rem 0;
    }

    & p {
      text-align: justify;
      text-indent: 10px;
      font-size: 16px;
    }
  }

}